node-red/.flows.json.backup
[{"id":"84b15819.545d88","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"1b783651.850dba","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"d330d835.943878","type":"server","z":"","name":"Home Assistant"},{"id":"cf51b67f.103b28","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"926afea7.8314c","type":"api-call-service","z":"84b15819.545d88","name":"Plug On","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.bedroom_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":40,"wires":[[]]},{"id":"cc70b4d7.60c218","type":"api-current-state","z":"84b15819.545d88","name":"If plug is off","server":"1b783651.850dba","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.bedroom_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":40,"wires":[["926afea7.8314c"],[]]},{"id":"4219ef9e.5f9ba","type":"api-call-service","z":"84b15819.545d88","name":"Bulb 1","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.ikea_of_sweden_tradfri_bulb_e12_w_op_ch_400lm_3f7974fe_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":560,"wires":[[]]},{"id":"a934dad4.997c38","type":"api-call-service","z":"84b15819.545d88","name":"Bulb 2","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.ikea_of_sweden_tradfri_bulb_e12_w_op_ch_400lm_d2e47afe_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":620,"wires":[[]]},{"id":"bf41e4a9.1a06c8","type":"api-call-service","z":"84b15819.545d88","name":"Bulb 3","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.ikea_of_sweden_tradfri_bulb_e12_w_op_ch_400lm_ef5ce8fe_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":680,"wires":[[]]},{"id":"ee580183.cf87a","type":"inject","z":"84b15819.545d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":620,"wires":[["4219ef9e.5f9ba","a934dad4.997c38","bf41e4a9.1a06c8","ae1c1b3c.388a18"]]},{"id":"89a278c7.989cf8","type":"server-state-changed","z":"84b15819.545d88","name":"Temp over 80","server":"1b783651.850dba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedroom_temp_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"80","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":false,"x":90,"y":40,"wires":[["39edfb7d.f34ee4"],[]]},{"id":"ae1c1b3c.388a18","type":"api-call-service","z":"84b15819.545d88","name":"Hall","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":740,"wires":[[]]},{"id":"cbdce20e.7c9e","type":"api-call-service","z":"84b15819.545d88","name":"Hall Light On","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":120,"wires":[["aea26f42.c81f3"]]},{"id":"f79b883c.a79ef8","type":"server-state-changed","z":"84b15819.545d88","name":"Front Door opened","server":"1b783651.850dba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_on_off","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":120,"wires":[["cbdce20e.7c9e"],[]]},{"id":"aea26f42.c81f3","type":"delay","z":"84b15819.545d88","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":120,"wires":[["4bc13a82.3c3264"]]},{"id":"4bc13a82.3c3264","type":"api-call-service","z":"84b15819.545d88","name":"Hall Light Off","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":120,"wires":[[]]},{"id":"d73d35d0.37db58","type":"api-current-state","z":"84b15819.545d88","name":"Lux level less than 30","server":"1b783651.850dba","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lte","override_topic":false,"entity_id":"sensor.lumi_lumi_sensor_motion_aq2_47287502_illuminance","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":220,"wires":[["4d87a4ce.d7b4dc","e032d70e.fca0f8","d457c0f3.f173e"],[]]},{"id":"fc9d9d43.b766d","type":"server-state-changed","z":"84b15819.545d88","name":"Bedroom Motion Detected","server":"1b783651.850dba","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_lumi_sensor_motion_aq2_47287502_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":220,"wires":[["d73d35d0.37db58"],[]]},{"id":"4d87a4ce.d7b4dc","type":"api-call-service","z":"84b15819.545d88","name":"Bulb 1","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ikea_of_sweden_tradfri_bulb_e12_w_op_ch_400lm_3f7974fe_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":180,"wires":[[]]},{"id":"e032d70e.fca0f8","type":"api-call-service","z":"84b15819.545d88","name":"Bulb 2","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ikea_of_sweden_tradfri_bulb_e12_w_op_ch_400lm_d2e47afe_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":240,"wires":[[]]},{"id":"d457c0f3.f173e","type":"api-call-service","z":"84b15819.545d88","name":"Bulb 3","server":"1b783651.850dba","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ikea_of_sweden_tradfri_bulb_e12_w_op_ch_400lm_ef5ce8fe_level_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":300,"wires":[[]]},{"id":"234ad602.1de56a","type":"inject","z":"84b15819.545d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":200,"wires":[["4d87a4ce.d7b4dc","e032d70e.fca0f8","d457c0f3.f173e"]]},{"id":"39edfb7d.f34ee4","type":"api-current-state","z":"84b15819.545d88","name":"","server":"1b783651.850dba","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":" input_boolean.fan_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":40,"wires":[["cc70b4d7.60c218","924a7878.42bb28"],["924a7878.42bb28"]]},{"id":"924a7878.42bb28","type":"debug","z":"84b15819.545d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":140,"wires":[]},{"id":"d69d31c2.2c704","type":"inject","z":"84b15819.545d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["302c6096.0b198"]]},{"id":"302c6096.0b198","type":"ha-entity","z":"84b15819.545d88","name":"","server":"1b783651.850dba","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"fan temp"},{"property":"device_class","value":""},{"property":"icon","value":"icon: mdi:fan"},{"property":"unit_of_measurement","value":""}],"state":"false","stateType":"bool","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"msg","inputOverride":"allow","x":460,"y":460,"wires":[["4219ef9e.5f9ba"]]}]
